.menu-button{
    -fx-pref-width: 150;
    -fx-pref-height:60;
    -fx-background-color:#40404080;
    -fx-background-radius:20;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
    -fx-border-color:black;
    -fx-border-style:solid;
    -fx-border-radius: 20;
    -fx-border-width: 1;
}

.menu-button:hover{
    -fx-background-color:#404040;
    -fx-text-fill:#E0E0E0;
}

.setting-box {
    -fx-background-image: url("gear.png");
    -fx-background-size: 60 60;
}

.setting-box:hover{
    -fx-background-size: 65 65;

}

.save-box{
    -fx-background-image: url("appleFile.png");
    -fx-background-size: 63 63;

}

.save-box:hover{
    -fx-background-size: 65 65;

}

.undo-box{
    -fx-background-image: url("redo.png");
    -fx-background-size: 60 60;
}

.undo-box:hover{
    -fx-background-size: 64 64;

}

.setting-box-on .label{
    -fx-pref-width:180;
    -fx-pref-height:60;
    -fx-font-size:10;
    -fx-align:center;
    -fx-alignment:center;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #c21702ff 0.0%, #ffc803ff 100.0%);
    -fx-border-width:10;
    -fx-font-weight: bold;
}

.setting-box-on .label:hover{
    -fx-background-color:linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #c21702ff 0.0%, #ffc803ff 100.0%);
    -fx-text-fill:#E0E0E0;

}

.setting-box-ally-on {
    -fx-background-image: url("AllyMark.png");
    -fx-background-size: 60 60;
    -fx-text-alignment: center;
}

.setting-box-ally-off {
    -fx-background-image: url("AllyMark.png");
    -fx-background-size: 60 60;
    -fx-text-alignment: center;
    -fx-background-image: url("RedCross.png");
}

.setting-box-enemy-on {
    -fx-background-image: url("EnemyMark.png");
    -fx-background-size: 60 60;
}

.setting-box-enemy-off {
    -fx-background-image: url("EnemyMark.png");
    -fx-background-size: 60 60;
    -fx-background-image: url("RedCross.png");
}

.setting-box-target-on {
    -fx-background-image: url("TargetMark.png");
    -fx-background-size: 60 60;
    -fx-text-alignment: center;

}

.setting-box-target-off {
    -fx-background-image: url("TargetMark.png");
    -fx-background-size: 60 60;
    -fx-text-alignment: center;
    -fx-background-image: url("TargetMark.png");
    -fx-background-image: url("RedCross.png");
}


.subScene{
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #c21702ff 0.0%, #ffc803ff 100.0%);
    -fx-border-width: 20;
    -fx-background-color: #606060;
}

.newPlayer-subScene-button{
    -fx-pref-height: 50;
    -fx-pref-width: 150;
    -fx-background-color:#40404080;
    -fx-background-radius:10;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
    -fx-border-color: #00000070;
    -fx-border-width: 5;
    -fx-border-radius: 10;
}

.newPlayer-subScene-button:hover{
    -fx-background-color:#00000070;
}

.newPlayer-subScene-bg{
    -fx-background-color:linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #c21702ff 0.0%, #ffc803ff 100.0%);
    -fx-pref-height:600;
    -fx-pref-width:900;
}

.newPlayer-subScene-avatar1{
    -fx-background-image: url("avatar/avatar1.png");
    -fx-background-size: 70 70;
    -fx-pref-height: 70;
    -fx-pref-width: 70;
}

.newPlayer-subScene-avatar1:hover{
    -fx-border-color: #20B2AA;
    -fx-border-width: 5;
}

.newPlayer-subScene-avatar2{
    -fx-background-image: url("avatar/avatar2.png");
    -fx-background-size: 70 70;
    -fx-pref-height: 70;
    -fx-pref-width: 70;
}

.newPlayer-subScene-avatar2:hover{
    -fx-border-color: #20B2AA;
    -fx-border-width: 5;
}

.newPlayer-subScene-avatar3{
    -fx-background-image: url("avatar/avatar3.png");
    -fx-background-size: 70 70;
    -fx-pref-height: 70;
    -fx-pref-width: 70;
}

.newPlayer-subScene-avatar3:hover{
    -fx-border-color: #20B2AA;
    -fx-border-width: 5;
}

.newPlayer-subScene-avatar4{
    -fx-background-image: url("avatar/avatar4.png");
    -fx-background-size: 70 70;
    -fx-pref-height: 70;
    -fx-pref-width: 70;
}

.newPlayer-subScene-avatar4:hover{
    -fx-border-color: #20B2AA;
    -fx-border-width: 5;
}

.newPlayer-subScene-avatar5{
    -fx-background-image: url("avatar/avatar5.png");
    -fx-background-size: 70 70;
    -fx-pref-height: 70;
    -fx-pref-width: 70;
}

.newPlayer-subScene-avatar5:hover{
    -fx-border-color: #20B2AA;
    -fx-border-width: 5;
}

.newPlayer-subScene-avatar6{
    -fx-background-image: url("avatar/avatar6.png");
    -fx-background-size: 70 70;
    -fx-pref-height: 70;
    -fx-pref-width: 70;
}

.newPlayer-subScene-avatar6:hover{
    -fx-border-color: #20B2AA;
    -fx-border-width: 5;
}

.newPlayer-subScene-avatar7{
    -fx-background-image: url("avatar/avatar7.png");
    -fx-background-size: 70 70;
    -fx-pref-height: 70;
    -fx-pref-width: 70;
}

.newPlayer-subScene-avatar7:hover{
    -fx-border-color: #20B2AA;
    -fx-border-width: 5;
}

.newPlayer-subScene-avatar8{
    -fx-background-image: url("avatar/avatar8.png");
    -fx-background-size: 70 70;
    -fx-pref-height: 70;
    -fx-pref-width: 70;
}

.newPlayer-subScene-avatar8:hover{
    -fx-border-color: #20B2AA;
    -fx-border-width: 5;
}


.game-fin-ap{
    -fx-background-color: #00808080;
}

.endGame-button{
    -fx-border-color:linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #fcdfe8ff 0.0%, #b6fefcff 100.0%);
    -fx-background-color: white;
    -fx-pref-height: 50;
    -fx-pref-width: 160;
    -fx-font-size: 25;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.endGame-button:hover{
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #fcdfe8ff 0.0%, #b6fefcff 100.0%);
}

.endGame-text{
    -fx-alignment: center;
}