.menu-button{
    -fx-background-color:#40404080;
    -fx-background-radius:20;
    -fx-text-fill: #FFFFFF;
}

.menu-button:hover{
    -fx-background-color:#404040
}

.setting-box {

}

.setting-box .label{
    -fx-pref-width:180;
    -fx-pref-height:60;
    -fx-font-size:10;
    -fx-align:center;
    -fx-alignment:center;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #c21702ff 0.0%, #ffc803ff 100.0%);
    -fx-border-width:10;
}

.setting-box .label:hover{
    -fx-border-color: white;
    -fx-background-color:linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #c21702ff 0.0%, #ffc803ff 100.0%);
}